{% extends 'base.html' %}


{% block title %}
    Тендеры
{% endblock %}


{% block body %}
    <div class="album py-5 bg-light">
        <div class="container-fluid">
            <div class="row">
                {% for doc in dox %}
                    <div class="col-lg-4 col-md-6 mb-4" style="max-width: 350px">
                        <div class="card h-100 food">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ doc.title }}</a>
                                </h4>
                                <p class="card-text">{{ doc.product }},{{ doc.organizer }},{{ doc.product }}</p>
                            </div>
                            <div class="card-footer">
                                <h5>{{ doc.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}