{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    update
{% endblock %}

{% block body %}
    <style type="text/css">
       .update {
           margin-top: 40px;
       }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-6 update">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-danger" value="Изменить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}