<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<style>
    a#header_logo {
        border: 0;
        width: 28%;
        top: 15px;
        left: 15px;
        background-image: url("https://www.ordamed.kz/uploads/logo.png");
    }

    a#header_logo {
        width: 116px;
        height: 80px;
        zoom: 1;
        float: left;
        left: 45px;
        top: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
<div class="container-fluid">
    <div class="col-12" style="display: flex; margin-bottom: auto">
        <div>
            <a id="header_logo" title="Medical Equipment" href="#"> </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e3292a">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link dropdown-toggle" href="{% url "doc:tenders" %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Тендеры
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url "doc:tenders" %}">Все Тендеры</a></li>
                    <li><a class="dropdown-item" href="#">Тендеры в разработке</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Добавить Тендер</a></li>
                </ul>
                <a class="nav-link active" href="#">Pricing</a>
            </div>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>